
html, body {
	background: black;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

* {
	font-family: 'Helvetica Neue', Calibri, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: white;

}

.game {
	display: none;
}

select {
	background: black;
	margin: 20px;
	padding: 10px;
	vertical-align: middle;
}

.started .game {
	display: grid;
}

.started .intro {
	display: none;
}

.intro {
	display: grid;
	height: 100%;
	align-items: center;
	justify-items: center;
}

.title {
	color: white;
	text-shadow: 0px 1px 3px currentColor;
	font-size: 10vh;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.info {
	color: white;
	font-size: 24px;
}


.contents {
	text-align: center;
	}

.game {
	height: 100%;
}

.start-game {
	border: 1px solid currentColor;
	font-size: 30px;
	padding: 10px;
	background: transparent;
	color: aqua;
	font-weight: 100;
	transition: background-color 0.2s ease-in-out;
	box-shadow: 0 0 8px currentColor;
	text-shadow: 0px 1px 3px currentColor;
}
.start-game:disabled {
	color: #333;
}

.start-game:hover:not(:disabled) {
	background-color: aqua;
	cursor: pointer;
	color: black;
}

.error {
	color: hotpink;
	font-weight: 100;
	font-size: 32px;
	text-shadow: 0px 1px 3px currentColor;
}

.score {
	justify-content: center;
	font-size: 30px;
	color: yellow;
	display: flex;
	top: 20px;
	position: absolute;
	right: 20px;
	padding: 10px;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	border: 1px solid currentColor;
	box-shadow: 0 0 8px currentColor;
	text-shadow: 0px 1px 3px currentColor;
}

.currentChord {
	color: cyan;
	font-weight: 100;
	font-size: 30px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.targets {
	position: absolute;
}

.target {
	width: 70px;
	text-align: center;
	color: white;
	border: 1px solid white;
	font-family: monospace;
	border-style: dotted;
	border-left-width: 8px;
	border-right-width: 8px;
	border-radius: 30px;
	height: 70px;
	display: grid;
	justify-content: center;
	align-content: center;
	position: absolute;
}

.target__root {
	font-size: 24px;
}

.target__quality {
	font-size: 18px;
}

.piano {
	display: flex;
	align-self: end;
	justify-self: end;
}
.piano__note {
    height: 120px;
    width: 40px;
		box-shadow: 0px 0px 5px rgba(255,255,255,0.6)
	}

.piano__note[data-note*="#"] {
    height: 80px;
    background: black;
    left: -20px;
    position: relative;
    margin-right: -43px;
	}

	.piano__note.pressed {
		background: rgba(0,247,218,0.9);
	}
